# Exclude everything except specific dotfiles
.z
# Only include elisp files, others change too much/are too personal
/.emacs.d/*
!/.emacs.d/site-lisp
# Keep out big files from ~/bin
/bin/TripperxReadme.txt
/bin/bible
/bin/get_pianobar_keychain
/bin/get_pianobar_quality
/bin/gscan
/bin/python/chatlines.txt
/bin/python/spelling/big.txt
/bin/literal_map/*
/bin/xkcd/*
