# Use the text that has already been typed as the prefix for searching through
# commands (i.e. more intelligent Up/Down behavior)
#\e or \033???
"\033[B": history-search-forward
"\033[A": history-search-backward

# Cycle through one at a time rather than a big list
#"\t": menu-complete

# Allow UTF-8 input and output, instead of showing stuff like $'\0123\0456'
# ????
set input-meta on
set output-meta on
set convert-meta off

# Use Ctrl+← and Ctrl+→ (or Alt/Meta, or Esc) to move between words.
"\e[1;5D": backward-word
"\e[1;3D": backward-word
"\e[5D": backward-word
"\e\e[D": backward-word
"\e[1;5C": forward-word
"\e[1;3C": forward-word
"\e[5C": forward-word
"\e\e[C": forward-word

# Flip through autocompletion matches with Shift-Tab.
"\e[Z": menu-complete
