# Fill this with any options you want based off your local environment, such
# as different gpg locations or editors, or aliases or functions dependent on
# local sources, then move it to ~/.local-gitconfig

[core]
editor = emacsclient -cqu

# pager = diff-so-fancy | less --tabs=4 -RFX
# After much deliberation, this is fine.  Color options are confusing as hell;
# I wish there were more customization, and the bat themes are excellent but
# imperfect and a big shift.  What I really want is this+icdiff... Issue 169
# https://github.com/dandavison/delta
pager = delta --highlight-removed

[interactive]
diffFilter = delta --color-only

[gpg]
program = /usr/local/bin/gpg

[alias]
lr = log --pretty=format:"%C(yellow)%h\\ %ad%C(auto)%d\\ %Creset%s%Cblue\\ [%an]" --decorate --date=human-local
lr5 = log --pretty=format:"%C(yellow)%h\\ %ad%C(auto)%d\\ %Creset%s%Cblue\\ [%an]" --decorate --date=human-local -5
lg = log --color --graph --pretty=format:'%C(yellow)%h%Creset%C(auto)%d%Creset %s %Cgreen(A: %cr, C: %ar)%C(blue) [%an]%Creset' --abbrev-commit --date=human-local

# Use icdiff tool https://github.com/jeffkaufman/icdiff
icd = icdiff
ic = icdiff
icdc = icdiff --cached
icc = icdiff --cached
idp = "!f() { c=${1:-HEAD}; git icdiff $c~ $c; }; f"

# Depends on hub
home = browse
repo = browse
pulls = browse -- pulls
issues = browse -- issues
mypulls = browse -- pulls/amorymeltzer
commits = browse -- commits

# Depends on git-extras
# Divergence = commits we added and commits remote added, similar to llum, etc.
# FIXME TODO: Colorize
div = divergence

[log]
date = auto:human-local

[blame]
date = auto:human-local

[icdiff]
options = --color-map='add:green,change:magenta,description:blue,line-numbers:white,meta:white,separator:blue,subtract:red' --tabs=4
pager = less

[tiny-scripts]
remote = origin
