# Fill this with any options you want based off your local environment, such
# as different gpg locations or editors, or aliases or functions dependent on
# local sources, then move it to ~/.local-gitconfig

[core]
editor = emacsclient -cqu

# pager = diff-so-fancy | less --tabs=4 -RFX
# Fuck yeah delta is awesome
# https://github.com/dandavison/delta
pager = delta

[interactive]
diffFilter = delta --color-only

[gpg]
program = /usr/local/bin/gpg

[delta]
features = inline-line-styles

[delta "inline-line-styles"]
minus-style = syntax 52
minus-emph-style = syntax auto
minus-non-emph-style = syntax normal
plus-style = syntax auto
plus-emph-style = syntax auto
plus-non-emph-style = auto normal
#keep-plus-minus-markers = true
max-line-distance = 0.8 	# Default 0.6, was 0.7

[delta "side-styles"]
side-by-side = true
# Tighter from default of 4 spaces
line-numbers-left-format = │{nm:^2}│
line-numbers-right-format= │{np:^2}│

[alias]
lr = log --pretty=format:"%C(yellow)%h\\ %ad%C(auto)%d\\ %Creset%s%Cblue\\ [%an]" --decorate --date=human-local
lg = log --color --graph --pretty=format:'%C(yellow)%h%Creset%C(auto)%d%Creset %s %Cgreen(A: %cr, C: %ar)%C(blue) [%an]%Creset' --abbrev-commit --date=human-local
recent-branches-by-commit = for-each-ref --sort=-committerdate --count=15 refs/heads/ --format='%(color:red)%(objectname:short)%(color:reset) %(color:yellow)%(refname:short)%(color:reset) (%(color:green)%(committerdate:human-local)%(color:reset)) %(contents:subject) %(color:blue)[%(authorname)]%(color:reset)'

# Only learned these flags in 2.23
cps = cherry-pick --skip
mgq = merge --quit

# Use icdiff tool https://github.com/jeffkaufman/icdiff
icd = icdiff
ic = icdiff
icdc = icdiff --cached
icc = icdiff --cached
icm = "!git icdiff $(git default-branch)"
icmc = "!git icdiff --cached $(git default-branch)"
icu = icdiff @{upstream}
icuc = icdiff --cached @{upstream}
icp = "!f() { c=${1:-HEAD}; git icdiff $c~ $c; }; f"
ics = "!git icdiff $(git split-from)"
icsc = "!git icdiff --cached $(git split-from)"


# delta side-by-side, might eventually replace icdiff
# $@ passes parameters to diff, not delta; trailing # ensure flags, non-replacements, etc.
si = "!git diff --no-color $@ | delta --features 'side-styles inline-line-styles' #"
sid = si
sic = si --cached
sidc = sic
sim = "!git si $(git default-branch)"
simc = "!git si --cached $(git default-branch)"
siu = si @{upstream}
siuc = si --cached @{upstream}
sip = "!f() { c=${1:-HEAD}; git si $c~ $c; }; f"
sis = "!git si $(git split-from)"
sisc = "!git si --cached $(git split-from)"


# Depends on hub
home = browse
repo = browse
pulls = browse -- pulls
issues = browse -- issues
mypulls = browse -- pulls/amorymeltzer
commits = browse -- commits

# Depends on git-extras
# Divergence = commits we added and commits remote added, similar to llum, etc.
# FIXME TODO: Colorize
div = divergence

[log]
date = auto:human-local

[help]
autoCorrect = prompt

[blame]
date = auto:human-local

[icdiff]
# options = --color-map='change:magenta_bold,meta:white' --tabs=4
options = --color-map='add:green,change:magenta,description:blue,line-numbers:white,meta:white,separator:blue,subtract:red' --tabs=4
pager = less

[tiny-scripts]
remote = origin

# Might be good to start using this a bit?  Maybe with gc on
# [maintenance]
