# Fill this with any options you want based off your local environment, such
# as different gpg locations or editors, or aliases or functions dependent on
# local sources, then move it to ~/.local-gitconfig

[core]
editor = emacsclient -cqu

# pager = diff-so-fancy | less --tabs=4 -RFX
# Fuck yeah delta is awesome
# https://github.com/dandavison/delta
# pager = delta

# Default is dark, this adjusts it based on macOS' status, just like the
# terminal profile itself is.  In theory, the defaults adapt well enough, and
# don't become illegible when changing modes, but this is more fun?  Duplicated
# below for the si alias for side-styles a la icdiff
pager = delta --features "$(defaults read -globalDomain AppleInterfaceStyle &> /dev/null && echo dark-mode || echo light-mode)"

[delta "light-mode"]
light = true
# syntax-theme = Coldark-Cold

[delta "dark-mode"]
light = false
# syntax-theme = Coldark-Dark

[delta]
hyperlinks = true
# Clobbers the native search forward/backward in the pager
navigate = true

minus-emph-style = syntax auto
minus-non-emph-style = syntax normal
plus-non-emph-style = syntax normal

#keep-plus-minus-markers = true
max-line-distance = 0.8 	# Default 0.6, was 0.7

[delta "side-styles"]
side-by-side = true
# Tighter from default of 4 spaces
line-numbers-left-format = │{nm:^2}│
line-numbers-right-format= │{np:^2}│

[interactive]
# Interactive stuff, such as add -p, needs to be very limited, so annoyingly
# needs to have this thing duplicated once again.  Same issue as below, required
# to use DELTA_FEATURES
diffFilter = delta --color-only --features "$(defaults read -globalDomain AppleInterfaceStyle &> /dev/null && echo dark-mode || echo light-mode)"

[gpg]
program = /usr/local/bin/gpg

[alias]
# Use icdiff tool https://github.com/jeffkaufman/icdiff
icd = icdiff
ic = icdiff
icdc = icdiff --cached
icc = icdiff --cached
icm = "!git icdiff $(git default-branch)"
icmc = "!git icdiff --cached $(git default-branch)"
icu = icdiff @{upstream}
icuc = icdiff --cached @{upstream}
icp = "!f() { c=${1:-HEAD}; git icdiff $c~ $c; }; f"
ics = "!git icdiff $(git split-from)"
icsc = "!git icdiff --cached $(git split-from)"


# delta side-by-side, largely replaces icdiff.  An obnoxious level of work
# required to get delta on the commandline to access dark-mode or light-mode.
# Seriously, don't recommend.  Now triplicated!
# $@ passes parameters to diff, not delta; trailing # ensure flags, non-replacements, etc.
si = "!git diff --no-color $@ | delta --features \"$(defaults read -globalDomain AppleInterfaceStyle &> /dev/null && echo dark-mode || echo light-mode) side-styles\" #"
sid = si
sic = si --cached
sidc = sic
sim = "!git si $(git default-branch)"
simc = "!git si --cached $(git default-branch)"
siu = si @{upstream}
siuc = si --cached @{upstream}
sip = "!f() { c=${1:-HEAD}; git si $c~ $c; }; f"
sis = "!git si $(git split-from)"
sisc = "!git si --cached $(git split-from)"


# Depends on hub FIXME TODO
home = browse
repo = browse
pulls = browse -- pulls
issues = browse -- issues
mypulls = browse -- pulls/amorymeltzer
commits = browse -- commits

# Depends on git-extras
# Divergence = commits we added and commits remote added, similar to llum, etc.
# FIXME TODO: Colorize
div = divergence

[icdiff]
# options = --color-map='change:magenta_bold,meta:white' --tabs=4
options = --color-map='add:green,change:magenta,description:blue,line-numbers:white,meta:white,separator:blue,subtract:red' --tabs=4
pager = less

[tiny-scripts]
remote = origin

# Might be good to start using this a bit?  Maybe with gc on
# [maintenance]
